<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- SITE_DATA.title %></title>
    <meta name="description" content="<%- SITE_DATA.description %>">
    <link rel="stylesheet" href="<%- PATH.root %>css/style.css">
    <link rel="icon" type="image/png" href="<%- PATH.commonImage %>favicon.png">
    <link rel="apple-touch-icon" href="<%- PATH.commonImage %>apple-touch-icon.png">
    <!-- OGP -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%- SITE_DATA.url %>">
    <meta property="og:title" content="<%- data.base.description %>">
    <meta property="og:image" content="<%- PATH.commonImage %>/ogp.png">
    <meta property="og:description" content="<%- SITE_DATA.description %>">
    <meta property="og:site_name" content="<%- data.base.title %>">
    <meta property="og:locale" content="<%- SITE_DATA.ogLocale %>">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <!-- Twitter Card -->
    <meta name="twitter:card" content="<%- SITE_DATA.twType %>">
    <meta name="twitter:site" content="<%- SITE_DATA.twSite %>">
    <meta name="twitter:url" content="<%- SITE_DATA.url %>">
    <meta name="twitter:title" content="<%- SITE_DATA.title %>">
    <meta name="twitter:description" content="<%- SITE_DATA.description %>">
    <meta name="twitter:image" content="<%- PATH.commonImage %>/ogp.png">
</head>